.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.btnEntrar{    
    display: inline-block;
    width: 30%;
    margin-left: 10%;
    margin-right: auto;    
    font-weight: bold;
}

.btnLimpiar{
    display: inline-block;    
    width: 30%;
    margin-right: auto;    
    margin-left: 20%;
    font-weight: bold;    
}

.inputTxt{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}